@import "reset.css";

#wrap {width: 100vw; min-height: 100vh; margin: 0 auto; background-color: #000;}


/*헤더 스타일*/
#header {width: 100vw; height: 80px; padding: 0 100px; position: fixed; top: 0; left: 0; overflow: hidden; box-sizing: border-box; z-index: 500; transition: .2s ease-in; }
#header .nav {width: 1080px; height: 100%; margin: 0 auto; display: flex; flex-wrap: nowrap; justify-content: space-between; color: #fff;}
#header .nav a {color: #fff;}
#header .nav .logo,
#header .nav .menu,
#header .nav .lojo {flex-shrink: 0; text-align: center;}
#header .nav .logo {height: 80px; display: flex; align-items: center;}
#header .nav .logo a {display: block; width: 140px; height: 27px;}
#header .nav .logo a span{ width: 100%; height: 100%; background: url(../images/logo.png) no-repeat 50% 0; display: block; text-indent: -9999px;}
#header .nav .menu {height: 100%;}
#header .nav .menu .tabs {height: 100%;}
#header .nav .menu .tabs > ul {height: 100%; display: flex; flex-wrap: nowrap; justify-content: space-between; }
#header .nav .menu .tabs > ul .tab_box {height: 100%; padding: 0 40px;}
#header .nav .menu .tabs > ul .tab_box > a {font-size: 1.1rem; font-weight: 500; line-height: 80px; height: 80px;}
#header .nav .lojo {height: 80px; display: flex; align-items: center; gap: 2px;}

/*헤더 마우스 오버시 디자인 변경*/
#header.on {height: auto; box-sizing: border-box; background-color: #fff;}
#header.on .nav a,
#header.on .nav .lojo div {color: #000;}
#header.on .nav .logo a span{background-position: 50% -34px;}
#header .nav .menu .tabs > ul .tab_box.on > a {color:#00c860; border-bottom: 2px solid #00be5a; display: block;}


/*서브메뉴 디자인*/
#header.on .nav_submenu {position: absolute; width: 100%; height: calc(100% - 80px); border-top: 1px solid #ccc; background-color: #fff; bottom: 1px; left: 0; z-index: -500; transition: .3s ease-in;}
#header .nav .menu .tabs > ul .tab_box ul {width: 100%; padding: 20px 0; }
#header .nav .menu .tabs > ul .tab_box ul li {color: #000; font-size: 1rem; line-height: 2rem; padding: 5px 0;}
#header .nav .menu .tabs > ul .tab_box ul li:hover a {color: #00be5a;}

/*섹션이동시 배경이 흰색이면 헤더컬러변경*/
#header.white {background-color: #fff;}
#header.white .nav a,
#header.white .nav .lojo div {color: #000;}
#header.white .nav .logo a span{background-position: 50% -34px;}

.section {color: #fff;}
.section.test {background-color: #fff; color: #000;}






/*슬라이더 스타일*/
/*navigation 커스텀*/
#fp-nav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 5px; 
    border-radius: 20px;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 10px;
    height: 10px;
    margin: 15px 0;
    position:relative;
    box-sizing: border-box;
}

.fp-slidesNav ul li {
    display: inline-block;
    box-sizing: border-box;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 10px;
    width: 10px;
    margin: -5px 0px 0px -5px;
    background: #00be5a;
 }
 #fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
    background: #00be5a;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/*tooltips*/
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -7px;
    color: #fff;
    font-size: 0.9rem;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
    background: url(../images/bg_tooltip.png) no-repeat 100% 0;
    padding: 0 10px 0 6px;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}



/*동영상 미로드시 표시되어야 할 백그라운드 이미지 추가 필요.*/
/*2022.06.13 추가 완료*/
.video_wrap {width: 100vw; height: 100vh; position: relative;}
.video_wrap .main_video {width: 100%; height: 100%; min-width: 1080px; position: absolute; top: 0; left: 0; z-index: 30; overflow: hidden;}
.video_wrap .main_video .load_img {width: 100%; height: 100%; position: absolute; background-color: #000; z-index: 300; background: url(../images/bg_visual.png) no-repeat 0 0; background-size: 100%; background-position-y: -10px; transition: .3s ease-in;}
.video_wrap .main_video .load_img.hidden {opacity: 0;}

.video_wrap .main_video #player {position: absolute; background-color: #fff; width: 100%; height: 120%; border: 0; top: 45%; left: 50%; transform: translate(-50%, -50%); pointer-events: none; z-index: 0; }



/*스크롤 다운 애니메이션*/

#btn-scroll{ position: absolute; bottom: 10px; left: 50%; width: 20px; height: auto; z-index: 500; }
#btn-scroll span{ display: block; width: 10px; height: 10px; -ms-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg); transform: rotate(45deg); border-right: 3px solid #fff; border-bottom: 3px solid #fff; margin: 0 0 3px 5px; }
#btn-scroll .down-arrow-1 { margin-top: 6px; }
#btn-scroll .down-arrow-1, #btn-scroll .down-arrow-2{ -webkit-animation: mouse-scroll 1s infinite; -moz-animation: mouse-scroll 1s infinite:}
#btn-scroll .down-arrow-1 { -webkit-animation-delay: .1s; -moz-animation-delay: .1s; -webkit-animation-direction: alternate; }
#btn-scroll .down-arrow-2 { -webkit-animation-delay: .2s; -moz-animation-delay: .2s; -webkit-animation-direction: alternate; }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  



#fullpage .section h2 { display: none;}
#fullpage .section { background-attachment: fixed !important;}

/*가까운 그린존*/
#green_zoon {width: 100%; min-width: 1080px; height: 100vh; background: url(../images/bg_section01.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
#green_zoon .wrap_box {width: 1080px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
#green_zoon .wrap_box .text_box {width: 100%; height: 634px;; margin-left: 40px; display: flex; flex-direction: column; padding: 30px 0; gap: 40px;}
#green_zoon .wrap_box .text_box .top {width: 100%; height: 50%;}
#green_zoon .wrap_box .text_box .top .top_icon {width: 47px; height: 60px; background: url(../images/sp_main.png) no-repeat; background-position: 0 -174px; margin-bottom: 20px;} 
#green_zoon .wrap_box .text_box .top h3 {font-size: 3.5rem; line-height: 5rem; font-weight: 500;}
#green_zoon .wrap_box .text_box .bottom {width: 100%;}
#green_zoon .wrap_box .text_box .bottom p {font-size: 1.5rem; line-height: 2.3rem;}

#green_zoon .wrap_box .phone_wrap { width: auto; height: 634px; position: relative;}
#green_zoon .wrap_box .phone_wrap .phone {width: 411px; height: 634px; background: url(../images/bg_phone.png) no-repeat 0 0;}
#green_zoon .wrap_box .phone_wrap .inner_img {width: 283px; height: 486px; position: absolute;  background: url(../images/img_section01.gif) no-repeat 0 0; top: 50%; left: 50%; transform: translate(-50%,-50%);}



/*경제적인 요금쿠폰*/
#coupone {width: 100%; min-width: 1080px; height: 100vh; background: url(../images/bg_section02.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
#coupone .wrap_box {width: 1080px; height: 100%; margin: 0 auto; padding: 0; display: flex; justify-content: space-between; align-items: center;}
#coupone .wrap_box .text_box {width: 100%; height: 634px; margin-left: 40px; display: flex; flex-direction: column; padding: 30px 0; gap: 40px;}
#coupone .wrap_box .text_box .top {width: 100%; height: 50%;}
#coupone .wrap_box .text_box .top .top_icon {width: 50px; height: 60px; background: url(../images/sp_main.png) no-repeat; background-position: -56px -174px; margin-bottom: 20px;} 
#coupone .wrap_box .text_box .top h3 {font-size: 3.5rem; line-height: 5rem; font-weight: 500;}
#coupone .wrap_box .text_box .bottom {width: 100%;}
#coupone .wrap_box .text_box .bottom p {font-size: 1.5rem; line-height: 2.3rem;}

#coupone .wrap_box .text_box .bottom .btns {width: 100%; height: 60px; display: flex; gap: 10px; margin-top: 50px; } 
#coupone .wrap_box .text_box .bottom .btns div {height: 100%; padding: 0 30px; border: 2px solid #fff; transition: .3s ease-in;}
#coupone .wrap_box .text_box .bottom .btns div button {width: 100%; height: 100%; font-size: 1.5rem; line-height: 3rem; color: #fff; font-weight: 500;}
#coupone .wrap_box .text_box .bottom .btns div button p,
#coupone .wrap_box .text_box .bottom .btns div button .go{display: inline-block;}
#coupone .wrap_box .text_box .bottom .btns div button .go {width: 8px; height: 14px; background: url(../images/sp_main.png) no-repeat -292px 0; margin-left: 40px;}

#coupone .wrap_box .text_box .bottom .btns div:hover {  background-color: #fff;}
#coupone .wrap_box .text_box .bottom .btns div:hover button p { color: #04ccb1;}
#coupone .wrap_box .text_box .bottom .btns div:hover button .go {width: 8px; height: 14px; background: url(../images/sp_main.png) no-repeat -256px 0; margin-left: 40px;}


#coupone .wrap_box .phone_wrap { width: auto; height: 643px; position: relative;}
#coupone .wrap_box .phone_wrap .phone {width: 411px; height: 634px; background: url(../images/bg_phone.png) no-repeat 0 0;}
#coupone .wrap_box .phone_wrap .inner_img {width: 283px; height: 486px; position: absolute;  background: url(../images/img_section02.gif) no-repeat 0 0; top: 50%; left: 50%; transform: translate(-50%,-50%);}



/*간편한 앱*/
#easy_app {width: 100%; min-width: 1080px; height: 100vh; background: url(../images/bg_section03.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
#easy_app .wrap_box {width: 1080px; height: 100%; margin: 0 auto; padding: 0; display: flex; justify-content: space-between; align-items: center;}
#easy_app .wrap_box .text_box{width: 100%; height: 634px; margin-left: 40px; display: flex; flex-direction: column; padding: 30px 0; gap: 40px;}
#easy_app .wrap_box .text_box .top {width: 100%; height: 50%;}
#easy_app .wrap_box .text_box .top .top_icon {width: 39px; height: 64px; background: url(../images/sp_main.png) no-repeat; background-position: -116px -174px; margin-bottom: 20px;} 
#easy_app .wrap_box .text_box .top h3 {font-size: 3.5rem; line-height: 5rem; font-weight: 500;}
#easy_app .wrap_box .text_box .bottom {width: 100%;}
#easy_app .wrap_box .text_box .bottom > p {font-size: 1.5rem; line-height: 2.3rem;}

#easy_app .wrap_box .text_box .bottom .btns {width: 100%; height: 70px; display: flex; gap: 10px; margin-top: 50px; } 
#easy_app .wrap_box .text_box .bottom .btns > div {height: 100%; padding: 0 20px; border: 2px solid #fff; transition: .3s ease-in;}
#easy_app .wrap_box .text_box .bottom .btns div button {width: 100%; height: 100%;}
#easy_app .wrap_box .text_box .bottom .btns div button div {text-align: left; color: #fff; display: inline-block;}
#easy_app .wrap_box .text_box .bottom .btns div button div h5 {font-size: 0.9rem; font-weight: 400; line-height: 1rem; margin-bottom: 3px;}
#easy_app .wrap_box .text_box .bottom .btns div button div p {font-size: 1.5rem; font-weight: 400; line-height: 1.5rem;}
/*애플아이콘*/
#easy_app .wrap_box .text_box .bottom .btns .apple button .icon {width: 28px; height: 32px; margin-right: 10px; background: url(../images/sp_main.png) no-repeat; background-position: -76px -248px;}
#easy_app .wrap_box .text_box .bottom .btns .apple:hover button .icon {background: url(../images/sp_main.png) no-repeat; background-position: -114px -248px;}

/*구글아이콘*/
#easy_app .wrap_box .text_box .bottom .btns .google button .icon {width: 28px; height: 32px; margin-right: 10px; background: url(../images/sp_main.png) no-repeat; background-position: 0 -248px;}
#easy_app .wrap_box .text_box .bottom .btns .google:hover button .icon {background: url(../images/sp_main.png) no-repeat; background-position: -38px -248px;}


#easy_app .wrap_box .text_box .bottom .btns > div:hover {  background-color: #fff;}
#easy_app .wrap_box .text_box .bottom .btns > div:hover button .txt { color: #6104cc;}

#easy_app .wrap_box .phone_wrap { width: auto; height: 680px; position: relative;}
#easy_app .wrap_box .phone_wrap .phone {width: 610px; height: 680px; background: url(../images/img_section03.png) no-repeat 0 0;}


#howto_use {width: 100%; min-width: 1080px; height: 100vh;}
#howto_use .greenSwiper {width: 100%; height: 100%; background-color: #fff;}
#howto_use .greenSwiper .swiper-wrapper {width: 100%; height: 100%;}
#howto_use .greenSwiper .swiper-wrapper .swiper-slide {width: 100%; height: 100%;}

/*pagenation*/
#page_wrap {width: 1080px; height: 100vh; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 100;}
#page_wrap .pagenation {width: auto; height: 62px; position: fixed; top: 50%; left: 451px; transform: translate(0, -50%);}
#page_wrap .pagenation ul {height: 100%; display: flex;}
#page_wrap .pagenation ul li {width: 102px; height: 100%; background: url(../images/btn_section04.png) no-repeat 0 0;}
#page_wrap .pagenation ul .page1 {background-position: 0 0;}
#page_wrap .pagenation ul .page2 {background-position: -102px 0;}
#page_wrap .pagenation ul .page3 {background-position: -204px 0;}
#page_wrap .pagenation ul .page4 {background-position: -306px 0;}
#page_wrap .pagenation ul .page5 {background-position: -408px 0;}
#page_wrap .pagenation ul .page1.active {background-position: 0 -72px;}
#page_wrap .pagenation ul .page2.active {background-position: -102px -72px;}
#page_wrap .pagenation ul .page3.active {background-position: -204px -72px;}
#page_wrap .pagenation ul .page4.active {background-position: -306px -72px;}
#page_wrap .pagenation ul .page5.active{background-position: -408px -72px;}



.swiper-slide {width: 100%; min-width: 1080px; height: 100vh;}
.swiper-slide.step1 { background: url(../images/bg_section0401.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
.swiper-slide.step2 { background: url(../images/bg_section0402.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
.swiper-slide.step3 { background: url(../images/bg_section0403.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
.swiper-slide.step4 { background: url(../images/bg_section0404.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}
.swiper-slide.step5 { background: url(../images/bg_section0405.jpeg) no-repeat 0 0; background-size: cover; background-position: center;}






.swiper-slide .wrap_box {width: 1080px; height: 100%; margin: 0 auto; padding: 0; display: flex; justify-content: space-between; align-items: center;}
.swiper-slide .wrap_box .text_box {width: 100%; height: 634px; margin-left: 40px; display: flex; flex-direction: column; padding: 100px 0 30px; gap: 140px;}
.swiper-slide .wrap_box .text_box .top {width: 100%;}
.swiper-slide .wrap_box .text_box .top p {font-size: 2.5rem; line-height: 4rem; font-weight: 500;}
.swiper-slide .wrap_box .text_box .top h3 {font-size: 3.5rem; line-height: 5rem; font-weight: 500;}
.swiper-slide .wrap_box .text_box .bottom {width: 100%;}
.swiper-slide .wrap_box .text_box .bottom p {font-size: 1.5rem; line-height: 2.3rem; color: #000;}

.swiper-slide .wrap_box .phone_wrap { width: auto; height: 643px; position: relative;}
.swiper-slide .wrap_box .phone_wrap .phone {width: 411px; height: 634px; background: url(../images/bg_phone.png) no-repeat 0 0;}
.swiper-slide .wrap_box .phone_wrap .inner_img {width: 283px; height: 486px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.swiper-slide.step1 .wrap_box .phone_wrap .inner_img {background: url(../images/img_section0401.gif) no-repeat 0 0;}
.swiper-slide.step2 .wrap_box .phone_wrap .inner_img {background: url(../images/img_section0402.gif) no-repeat 0 0;}
.swiper-slide.step3 .wrap_box .phone_wrap .inner_img {background: url(../images/img_section0403.gif) no-repeat 0 0;}
.swiper-slide.step4 .wrap_box .phone_wrap .inner_img {background: url(../images/img_section0404.gif) no-repeat 0 0;}
.swiper-slide.step5 .wrap_box .phone_wrap .inner_img {background: url(../images/img_section0405.gif) no-repeat 0 0;}





#howto_use .greenSwiper .swiper-wrapper .swiper-slide.red {background-color: #f00;}
#howto_use .greenSwiper .swiper-wrapper .swiper-slide.blue {background-color: #00f;}




  